# Byte-compiled / optimized Python files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
py_passwd_gen_venv
venv/
env/
.env/

# IDE or editor specific files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
.DS_Store

# Logs
*.log

# Compiled Python files
*.pyc
*.pyo
*.pyd

# Dependency directories
pip-wheel-metadata/
source_files
